.DS_Store
backups/*
.netrwhist

# Ruby Mine
.idea/

paths

# Emacs
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
elpa/
places

# Language specific / envs
dotfiles/emacs.d/cider-history
el-get
*/emacs.d/langs/el*
**/eshell/history
**/eshell/lastdir
